<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!-- <meta http-equiv="X-UA-Compatible" content="ie=edge" /> -->
        <style>
            html * {
                font-family: Roboto, sans-serif, Verdana !important;
            }

            body {
                font-family: Roboto, sans-serif, Verdana !important;
            }
        </style>
        <title>cancel</title>
    </head>

    <body style="margin: 0;">
        <div style="width: 100%;flex: 0 0 100%;">
            <img src="https://eyewear-user.s3.ap-southeast-1.amazonaws.com/hto-web/thankyou-med.png" style="width: 100%;" />
        </div>
        <div class="" style="width: 100%;flex: 0 0 100%;text-align: center; color: #2a2f32;">
            <h1 style="margin:25px 0px 10px 0px;color: #a50000;font-size: 28px;">UNFORTUNATELY</h1>
            <div style="margin-top: 15px;color: #a50000;font-size: 20px;font-weight: 700;">
                YOUR PAYMENT IS FAILED
            </div>
            <div style="margin: 35px;line-height: 28px;font-size:14px;">
                We're so sorry, your account has been declined and we can't continue
                with your purchase.
                Please review your account
                and try again <img style="width:20px;" src="https://eyewear-user.s3.ap-southeast-1.amazonaws.com/paypal/BrokenHeart.png" />.
            </div>
        </div>
    </body>
</html>
