.cp{
    cursor: pointer;
}
  
.mt-30{
  margin-top: 30px;
}
.react-datepicker-wrapper {
    width: 100%;
    .react-datepicker__input-container {
        width: inherit;
      } 
}
.padding-0{
  padding: 0px;
}

.capitalise{
  text-transform: capitalize;
}

.summary{

  .summary-section{
    border: solid #5e72e4;
    padding: 20px 15px;
    .summary-section-heading{
      font-size: 19px;
      font-weight: 900;
      color: grey;
      padding: 5px 0px;
    }
    .summary-section-describe{
      padding: 10px 0px;
      font-size: 19px;
      font-weight: 900;
      color: #5e72e4;
    }
    .summary-section-item-head{
      padding: 5px 0px;
      font-size: 16px;
      color: #000;
      font-weight: 900;
    }
    .summary-section-item-value{
      padding: 5px 0px;
      font-size: 16px;
      color: #000;
      text-align: right;
    }
  }
  .summary-graphical-item{
    padding: 10px;
    font-size: 19px;
    font-weight: 900;
    color: #000;
  }
  .summary-graphical-value{
    padding: 10px;
    font-size: 22px;
    color: #000;
  }
}